@model ExploreCaliforniaNow.Models.Post
@{
    Layout = "_Layout";
}
@section Header{
    <h1>Explore our world your way</h1>
    <a href="/tours.htm" title="Find your tour!"><h2>Find your tour</h2></a>
}
@await Html.PartialAsync("_post")

